<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Flight</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="Account">
          <button class="dropdown-item" routerLink="edit-user">Edit</button>
          <button class="dropdown-item" routerLink="view-bookings">View Bookings</button>
          <button class="dropdown-item btn btn-danger text-danger" routerLink="reset-password">Reset Password</button>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
      &nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/register">Register</button>
      &nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/logout">Logout</button>

    </form>
  </div>
</nav>
<router-outlet></router-outlet>