<div class="col-md-6 offset-3 card card-body" [hidden]="!errorBoolean">
    <h6 class="text-center text-danger">{{errors.description}}</h6>
</div>
<div class="col-md-6 offset-3 card card-body" [hidden]="!success">
    <h6 class="text-center">Password Updated Successfully. Please Login Now</h6>
</div>

<div [hidden]="success">
    <form action="" class="col-md-4 offset-4 mt-4 mb-4 card card-body" #form="ngForm" (ngSubmit)="changePassword(form)"
        method="POST">
        <h3 class="text-center">Reset-Password</h3>
        <div class="form-group">
            <div class="form-group">
                <input type="emailId" name="emailId" id="emailId" class="form-control" placeholder="Email Id"
                    #emailId="ngModel" hidden [(ngModel)]="user.emailId" ngModel
                    pattern="^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </div>
            <div>
                <h6 class="text-center text-danger">Token has sent to register mail id</h6>
            </div>
            <div class="form-group">
                <input type="token" name="token" id="token" class="form-control" placeholder="Token" #token="ngModel"
                    ngModel required>
                <div *ngIf="token.touched && token.invalid">
                    <div *ngIf="token.errors.required" class="text-danger text-center">*this field is required</div>
                </div>
                <div *ngIf="token.errors && token.touched" class="text-danger text-center">*valid EmailId Please</div>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    #password="ngModel" ngModel pattern="((?=.*\d)(?=.*[a-z])(?=.*[?!@#$%^&])(?=.*[A-Z]).{2,30})"
                    required>
                <div *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors.required" class="text-danger text-center"> *this field is required
                    </div>
                </div>
                <div *ngIf="password.errors && (password.touched || password.dirty)" class="text-danger text-center">
                    <div [hidden]="!password.errors?.pattern"> *minimum 8 characters;<br> *must contain atleast
                        1 uppercase, 1 number and 1 special character;</div>
                </div>
                <div>{{errors.discription}}</div>
            </div>
            <div class="form-group">
                <input type="confirmPassword" name="confirmPassword" id="confirmPassword" class="form-control"
                    placeholder="Confirm Password" #confirmPassword="ngModel" ngModel
                    pattern="((?=.*\d)(?=.*[a-z])(?=.*[?!@#$%^&])(?=.*[A-Z]).{2,30})" required>
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
                    <div *ngIf="confirmPassword.errors.required" class="text-danger text-center"> *this field is
                        required
                    </div>
                </div>
                <div *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty)"
                    class="text-danger text-center">
                    <div [hidden]="!confirmPassword.errors?.pattern"> *minimum 8 characters;<br> *must contain atleast
                        1 uppercase, 1 number and 1 special character;</div>
                </div>
                <div class="text-danger text-center" [hidden]="passwordBoolean"><a>{{passwordMatching}}</a></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success float-right"
                    [disabled]="form.invalid">Update</button>
            </div>
        </div>
    </form>
</div>