<a>{{user.userName}}</a>

<table style="width:100%" class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Leaving</th>
            <th class="text-center">Distination</th>
            <th class="text-center">Airport Name</th>
            <th class="text-center">Journey Date</th>
            <th class="text-center">Time</th>
            <th class="text-center">Cost</th>
            <th class="text-center">Button</th>
        </tr>
    </thead>
    <tr *ngFor="let flight of flights; let i=index">
        <td class="text-center">{{flight.flightId}}</td>
        <td class="text-center">{{flight.flightName}}</td>
        <td class="text-center">{{flight.fromLocation}}</td>
        <td class="text-center">{{flight.toLocation}}</td>
        <td class="text-center">{{flight.airportName}}</td>
        <td class="text-center">{{flight.departureDate}}</td>
        <td class="text-center">{{flight.departureTime}}</td>
        <td class="text-center">{{flight.price}}</td>
        <td><button type="submit" class="btn btn-success" (click)="flightSearchDetails(flight)">Book</button></td>
    </tr>
</table>